---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

interface Props {
    id: string;
    cover: string;
    title: string;
    author: string;
    rating: number;
    pages: number;
    date: Date | null;
}

const { id, cover, title, author, rating, pages, date } = Astro.props;
---

<a
    class="flex gap-4 rounded-md border border-gray-200 dark:border-gray-700 p-3 hover:bg-gray-100 dark:hover:bg-gray-800"
    href={`https://www.goodreads.com/book/show/${id}`}
    target="_blank"
>
    <Image
        src={cover}
        alt={title}
        class="rounded-sm w-12 h-18"
        width="50"
        height="75"
    />

    <div class="flex flex-col justify-between text-sm">
        <div>
            <h1 class="font-bold text-gray-900 dark:text-gray-100 line-clamp-1">
                {title}
            </h1>
            <p class="text-gray-500 dark:text-gray-400 line-clamp-1">
                {author}
            </p>

            <div
                class="mt-1 flex gap-2 text-xs text-gray-400 dark:text-gray-450"
            >
                <div class="flex gap-1">
                    {
                        [1, 2, 3, 4, 5].map((_, i) => (
                            <Icon
                                name={
                                    i < rating
                                        ? "tabler:star-filled"
                                        : "tabler:star"
                                }
                            />
                        ))
                    }
                </div>
                <span class="text-gray-400">|</span>
                <span>{pages} pages</span>
            </div>
        </div>

        {
            date && (
                <span class="text-[0.7rem] text-gray-400 italic mt-0.5">
                    {date.toLocaleDateString()}
                </span>
            )
        }
    </div>
</a>
